<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="METRICS_FILE" class="ch.qos.logback.core.FileAppender">
        <file>build/aspect_method_metrics.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="METHOD_METRICS" level="INFO" additivity="false">
        <appender-ref ref="METRICS_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="METRICS_FILE"/>
    </root>
</configuration>
